<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>BookShop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>publishhouse.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CLoginServlet</servlet-name>
    <servlet-class>servlet.CLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CLoginServlet</servlet-name>
    <url-pattern>/CLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ULoginServlet</servlet-name>
    <servlet-class>servlet.ULoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ULoginServlet</servlet-name>
    <url-pattern>/ULoginServlet</url-pattern>
  </servlet-mapping>

<servlet><servlet-name>wordServlet</servlet-name>
<servlet-class>chat.WordServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>wordServlet</servlet-name>
<url-pattern>/addWord</url-pattern>
</servlet-mapping>
</web-app>
